.carrosel img{
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: row;
}   

#setasParaTrocarImagem {
    text-align: center;
    font-size: 200%;
}

.promocoes {
    text-align: center;
}

.tabelaDePromocoes tr td{
    text-align: center;
    padding: 5% 20% 5% 20%;
}