/* corpo do filtro todo*/
.filtro {
    font-family: Arial, Helvetica, sans-serif;
    position: static;
    margin-left: 3%;
    margin-top: 2%;

}

/* 1º Conjunto de 2 filtros */
.conjunto1filtroAlgodao{
    display: flex;
}

/* 2º Conjunto de 2 filtros */
.conjunto2filtroAlgodao{
    display: flex;
}

/* filtro "algodão x" em si */
#filtroAlgodao {
    background-color: rgb(177, 177, 177);
    color: black;
    border-radius: 5px;
    padding: 6px;
    font-weight: bold;
    text-align: center;
    margin: 6px;
}

/* Barra de seleção de dinheiro */
.barraDeDinheiro {
    margin: 10px;
}

/* Parte filtro Tamanho */

/* Titulo "Tamanhos"*/
.filtroTamanho h1{
    margin-bottom: 1%;
}

/* selecao PlusSize do filtro Tamanho*/
.filtroTamanho #selecaoPlusSize {
    display:flex;
}

/* Parte filtro "Cores" */

/* Titulo "Cores" */
.filtroCores h1{
    margin-bottom: 1%;
}

/* selecao PlusSize do filtro Cores*/
.filtroCores #selecaoPlusSize {
    display:flex;
}

/* Parte filtro "Tecidos" */

/* Titulo Tecidos */
.filtroTecidos h1{
    margin-bottom: 1%;
}

/* selecao PlusSize do filtro Tecidos*/
.filtroTecidos #selecaoPlusSize {
    display:flex;
}

/* botão para filtrar*/
button{
    margin-top: 2%;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

/* botões de filtrar produtos */

/* 3 botões de seleção dos produtos */
.tiposDeProdutos {
    display: flex;
    margin-bottom: 5%;
    margin-left: 60%;
}

/* filtro se seleção "Popular" */
#filtroPopular {
    background-color: rgb(173, 173, 173);
    color: black;
    padding: 2%;
    border-radius: 5px;
    margin: 20px;
    font-weight: bold;
}

/* filtro se seleção "Novos" */
#filtroNovos {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 2%;
    border-radius: 5px;
    margin: 20px;
    font-weight: bold;
}

/* filtro de seleção "Vintage" */
#filtroVintage {
    background-color: rgb(196, 196, 196);
    color: black;
    padding: 2%;
    border-radius: 5px;
    margin: 20px;
    font-weight: bold;
}

/* produtos da página */

/* corpo da seção produtos */
.secoesProdutos {
    top: 5%;
    left: 27%;
    position: absolute;
}

/* primeiro produto */
#produtos1 {
    margin-right: 5%;
}

#produtos1 img{
    height: 400px;
    width: 100%;
}

#produtos1 p{
    font-size: 200%;
    text-align: center;
}

/* segundo produto */
#produtos2 {
    margin-right: 5%;
}

#produtos2 img{
    height: 400px;
    width: 100%;
}

#produtos2 p{
    font-size: 200%;
    text-align: center;
}

/* terceiro produto */
#produtos3 {
    margin-right: 5%;
}

#produtos3 img{
    height: 400px;
    width: 100%;
}

#produtos3 p{
    font-size: 200%;
    text-align: center;
}

/* quarto produto */
#produtos4 {
    margin-right: 5%;
}

#produtos4 img{
    height: 400px;
    width: 100%;
}

#produtos4 p{
    font-size: 200%;
    text-align: center;
}
/*  3 produtos em 1 fileira*/

/* primeira fileira */
.secaoProdutos1 {
    display: flex;
}

/* segunda fileira */
.secaoProdutos2 {
    display: flex;
}

/* terceira fileira */
.secaoProdutos3  {
    display: flex;
}

/* quarta fileira */
.secaoProdutos4 {
    display: flex;
}